<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="templatelib/css :: css(~{::title},~{})">
<title>添加文章</title>
</head>
<body>
		<div id="content">
			<div id="formwrap">
				<form class="form-horizontal" v-modal="cmsArticle" id="modal-form"
					role="form">
					<div style="width:50%;float:left;">
						<div class="form-group"></div>
						<div class="form-group">
							<label for="文章标题" class="col-sm-2 control-label">标题</label>
							<div class="col-sm-7">
								<input type="text" class="form-control"
									v-model="cmsArticle.title" name="title" id="title"
									placeholder="文章标题">
							</div>
							<div class="col-md-3"></div>
						</div>
						<div class="form-group">
							<label for="类别Id" class="col-sm-2 control-label">归属版块</label>
							<div class="col-sm-7">
								<select class="form-control" v-model="cmsArticle.catogryId">
									<option v-for="item in catogryList" :value="item.id">{{item.name}}</option>
								</select>
							</div>
							<div class="col-md-3"></div>
						</div>
						<div class="form-group">
						<label for="" class="col-sm-2 control-label">作者</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="" placeholder="作者">
							</div>
							<div class="col-md-3"></div>
							</div>
						<div class="form-group">
							<label for="图片url" class="col-sm-2 control-label">导航图片</label>
							<div class="col-sm-7">
								<input type="text" data-num="5"
									class="form-control image-upload-input"
									v-model="cmsArticle.url" name="url" id="url"
									placeholder="图片url">
							</div>
							<div class="col-md-3"></div>
						</div>
						<div class="form-group">
							<label for="状态" class="col-sm-2 control-label">状态</label>
							<div class="col-sm-7">
								<label class="inline-group"><input
									v-model="cmsArticle.status" type="radio" value="1" />直接发布</label> <label
									class="inline-group"><input v-model="cmsArticle.status"
									type="radio" value="2" />暂存</label>
							</div>
							<div class="col-md-3"></div>
						</div>
					</div>
					<div style="width:50%;float:left;">
					<div class="form-group"></div>
						<div class="form-group">
							<label for="文件内容" class="col-sm-2 control-label">文章内容</label>
							<div class="col-sm-7">
								<input type="hidden" class="form-control"
									v-model="cmsArticle.content" name="content" placeholder="文件内容">
								<script id="editor" type="text/plain" name="content"
									style="width: 400px; height: 500px;"></script>
							</div>
							<div class="col-md-3"></div>
						</div>

					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-md-4 text-center">
							<button type="submit" class="btn btn-success">保存</button>
							<input type="reset" class="btn btn-primary" value="重置" />
							<button type="button"
								class="btn btn-default pull-right  layui-layer-close">关闭</button>
						</div>
					</div>
					<div id="error" class="text-center"></div>
				</form>
			</div>
		</div>
	<div th:include="templatelib/js :: js"></div>
	<div th:include="templatelib/webupload :: js"></div>
	<div th:include="templatelib/ueditor :: js"></div>
</body>
<script>
var vue = new Vue({
	el : '#content',
	data : {
		cmsArticle : {},
		catogryList : []
	},
	methods : {
		init : function() {
			this.cmsArticle.id = "[[${id}]]";
			this.getCatogry();
			var ue = UE.getEditor("editor");
			if (this.cmsArticle.id != "") {
				var url = transUrl("/cmsarticle/info/");
				$.get(url + this.cmsArticle.id, function(r) {
					if (check(r)) {
						vue.$data.cmsArticle = r.cmsArticle;
						for (var i = 0; i < vue.catogryList.length; i++) {
							if (vue.$data.catogryList[i].id == vue.$data.cmsArticle.type) {
								vue.$data.catogryList[i].selected == "selected";
							}
						}
						setTimeout(function(){
							refershitem();
							ue.setContent(vue.$data.cmsArticle.content, false);
							},500);
					}
				});
			}
		},
		getCatogry : function() {
			var url = transUrl("/cmscatogry/queryAll");
			$.get(url, function(r) {
				if (check(r)) {
					vue.catogryList = r.list;
				}
			});
		},
		addForm : function() {
			vue.cmsArticle = {};
			openWindow({
				content : transUrl("/cms/addarticle.html")
			});
		},
		editForm : function() {
			var id = getSelectedRow();
			if (id != '') {
				var url = transUrl("/cmsarticle/info/");
				$.get(url + id, function(r) {
					if (check(r)) {
						vue.cmsArticle = r.cmsArticle;
						openForm("修改信息");
					}
				});
				if (vue.cmsArticle == null) {
					alert("网络错误")
				}
			}

		},
		saveOrUpdate : function() {
			var url = vue.cmsArticle.id == "" ? transUrl("/cmsarticle/save"):transUrl("/cmsarticle/update");
			vue.cmsArticle.content = UE.getEditor("editor").getContent();
			$.ajax({
				type : "POST",
				url : url,
				contentType : "application/json",
				data : JSON.stringify(vue.cmsArticle),
				success : function(r) {
					if (check(r)) {
						window.top.closeForm();
						tips("操作成功");
					}
				}
			});
		},
	},
	created : function() {
		this.init();
	}
});
$(function() {
	$("#modal-form").validate({
		rules : {
			title : {
				required : true
			},
			url : {
				required : true
			},
			content : {
				required : true
			},
			viewcount : {
				required : true
			},
			commentcount : {
				required : true
			},
			orderNum : {
				required : true
			},
			status : {
				required : true
			},
			createTime : {
				required : true
			},
			createId : {
				required : true
			},
			updateTime : {
				required : true
			},
			catogryId : {
				required : true
			}
		},
		messages : {
			title : {
				required : "请填写文章标题"
			},
			url : {
				required : "请填写图片url"
			},
			content : {
				required : "请填写文件内容"
			},
			viewcount : {
				required : "请填写浏览数"
			},
			commentcount : {
				required : "请填写评论数"
			},
			orderNum : {
				required : "请填写排序"
			},
			status : {
				required : "请填写状态"
			},
			createTime : {
				required : "请填写创建时间"
			},
			createId : {
				required : "请填写创建者"
			},
			updateTime : {
				required : "请填写更新时间"
			},
			catogryId : {
				required : "请填写类别Id"
			}
		},
		submitHandler : function(form) {
			vue.saveOrUpdate();
		},
		errorPlacement : function(error, element) {
			tipError(error, element);
		}
	});
});
</script>
</html>
