<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
</head>
<body>
<div th:fragment="js">
<script th:src="@{/statics/common/js/jquery-1.9.1.min.js}"></script>
<script th:src="@{/statics/common/js/TouchSlide.1.1.js}"></script>
<script th:src="@{/statics/common/js/jqthumb.min.js}"></script>
<script th:src="@{/statics/vue/js/vue.js}"></script>
<script th:src="@{/statics/layer/layer.js}"></script>
<script th:src="@{/statics/common/js/android.js}"></script>
</div>
</body>
</html>