<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="css(title,links)">
<meta charset="UTF-8">
<title th:replace="${title}"></title>
<link rel="stylesheet"
	th:href="@{/statics/layer/theme/default/layer.css}">
<link rel="stylesheet" th:href="@{/statics/common/css/android.css}">
<th:block th:replace="${links}" />
</head>
<body>
	<div th:fragment="header">
		<header class="header">
			<img th:src="@{/statics/common/images/prev-img.png}" onclick="goBack()" class="prev-btn" /><span
				class="title">{{title}}</span><img
				th:src="@{/statics/common/images/share-img.png}" onclick="share()" class="share-btn" />
				<div id="share">
				<div class="share-heading">
				<button onclick="shareTo(1)"><img th:src="@{/statics/common/images/friends.png}" /><small>朋友圈</small></button>
				<button onclick="shareTo(2)"><img th:src="@{/statics/common/images/kongjian.png}" /><small>QQ空间</small></button>
				<button onclick="shareTo(3)"><img th:src="@{/statics/common/images/weibo.png}" /><small>微博</small></button>
				<button onclick="shareTo(4)"><img th:src="@{/statics/common/images/weixin.png}" /><small>微信</small></button>
				</div>
				<div class="share-footer">
				<button class="layui-layer-close">取消</button>
				</div>
				 </div>
		</header>
	</div>
</body>
</html>