<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
</head>
<body>
<div th:fragment="js">
<script th:src="@{/statics/common/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/statics/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/statics/vue/js/vue.js}"></script>
<script th:src="@{/statics/bootstrap-table/bootstrap-table.min.js}"></script>
<script th:src="@{/statics/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/statics/bootstrap-table/bootstrap-table-my.js}"></script>
<script th:src="@{/statics/common/js/jquery.validate.min.js}"></script>
<script th:src="@{/statics/common/js/messages_zh.js}"></script>
<script th:src="@{/statics/common/js/common.js}"></script>
<script th:src="@{/statics/layer/layer.js}"></script>
<script th:src="@{/statics/bootstrap-table-export/tableExport.min.js}"></script>
</div>
</body>
</html>